(
    charge_control_end_threshold: 100,
    panel_od: true,
    boot_sound: false,
    mini_led_mode: false,
    disable_nvidia_powerd_on_battery: true,
    ac_command: "",
    bat_command: "",
    throttle_policy_linked_epp: true,
    throttle_policy_on_battery: Quiet,
    change_throttle_policy_on_battery: true,
    throttle_policy_on_ac: Quiet,
    change_throttle_policy_on_ac: true,
    throttle_quiet_epp: Default,
    throttle_balanced_epp: Default,
    throttle_performance_epp: Default,
)