(
    charge_control_end_threshold: 80,
    panel_od: false,
    mini_led_mode: false,
    disable_nvidia_powerd_on_battery: true,
    ac_command: "",
    bat_command: "",
    platform_policy_linked_epp: true,
    platform_policy_on_battery: Balanced,
    platform_policy_on_ac: Balanced,
    ppt_pl1_spl: None,
    ppt_pl2_sppt: None,
    ppt_fppt: None,
    ppt_apu_sppt: None,
    ppt_platform_sppt: None,
    nv_dynamic_boost: None,
    nv_temp_target: None,
)