Section "ServerLayout"
	Identifier	"layout"
	Screen		0 "iGPU"
	Option		"AllowNVIDIAGPUScreens"
EndSection

Section "Screen"
	Identifier	"iGPU"
	Device		"iGPU"
EndSection

Section "Device"
	Identifier	"iGPU"
	Driver		"amdgpu"
	BusID		"PCI:5:0:0"
EndSection

Section "Device"
	Identifier	"dGPU"
	Driver		"nvidia"
	BusID		"PCI:1:0:0"
EndSection
