@import "./theme.css";
@import "./colors.css";

/* NOTE:
* `widget`s don't support margin and padding, so do not try to refactor the
* layout. Keep it simple.
*/

* {
  border: none;
  border-radius: 0;
  font-family: monospace;
  font-size: 15px;
  color: @foreground;
  min-width: 0;
  transition: none; /* Disable all animations. */
}

window#waybar {
  background: @bg-base;
}

/* Left modules ------------------------------------------------------------ */
#workspaces {
  background-color: @bg-overlay;
}

#workspaces button {
  padding: 0 15px;
}

#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
  background: none;
}

/* GTK3 CSS does not support `display: none`, so use this workaround. */
#workspaces button.empty:not(.active):not(.visible) {
  padding: 0;
  margin: 0;
  color: transparent;
  background: transparent;
}
#workspaces button.empty:not(.active):not(.visible) .workspace-label {
  font-size: 0;
}

#workspaces button.active,
#workspaces button.visible {
  box-shadow: inset 0 2px 0 0; /* Using border changes child height. */
}

#workspaces button:nth-child(1),
#workspaces button:nth-child(1) .workspace-label {
  color: @color9;
}

#workspaces button:nth-child(2),
#workspaces button:nth-child(2) .workspace-label {
  color: @color10;
}

#workspaces button:nth-child(3),
#workspaces button:nth-child(3) .workspace-label {
  color: @color11;
}

#workspaces button:nth-child(4),
#workspaces button:nth-child(4) .workspace-label {
  color: @color12;
}

#workspaces button:nth-child(5),
#workspaces button:nth-child(5) .workspace-label {
  color: @color13;
}

#window {
  padding: 0 15px;
}

/* Right modules ----------------------------------------------------------- */
.modules-right {
  background-color: @bg-overlay;
  padding: 0 20px;
}

.modules-right widget:not(:first-child) > label {
  padding-left: 20px
}

#tray {
  padding-left: 20px;
}

#tray menu {
  background-color: @background;
}
