configuration {
	modi: "run,drun";
	run-list-command: ". rofi-aliases.sh";
	run-shell-command: "{terminal} -e '{cmd}'";
	run-command: "/bin/sh -i -c '{cmd}'";
	terminal: "rofi-sensible-terminal";
	show-icons: true;
	icon-theme: "Papirus-Dark";
}

@theme "themes/launcher"
