#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    show_song_table_header: true,
    draw_borders: true,
    format_tag_separator: " | ",
    browser_column_widths: [20, 38, 42],
    background_color: "{{colors.special.background}}",
    text_color: "{{colors.special.foreground}}",
    header_background_color: "{{colors.special.background}}",
    modal_background_color: "{{colors.special.background}}",
    tab_bar: (
        enabled: true,
        active_style: (fg: "black", bg: "{{colors.normal.blue}}", modifiers: "Bold"),
        inactive_style: (),
    ),
    highlighted_item_style: (fg: "{{colors.normal.blue}}", modifiers: "Bold"),
    current_item_style: (fg: "black", bg: "{{colors.normal.blue}}", modifiers: "Bold"),
    borders_style: (fg: "{{colors.normal.blue}}"),
    highlight_border_style: (fg: "{{colors.normal.blue}}"),
    symbols: (song: "S", dir: "D", marker: "M", ellipsis: "..."),
    progress_bar: (
        symbols: ["-", ">", " "],
        track_style: (fg: "{{colors.special.background}}"),
        elapsed_style: (fg: "{{colors.normal.blue}}"),
        thumb_style: (fg: "{{colors.normal.blue}}", bg: "{{colors.special.background}}"),
    ),
    scrollbar: (
        symbols: ["│", "█", "▲", "▼"],
        track_style: (),
        ends_style: (),
        thumb_style: (fg: "{{colors.normal.blue}}"),
    ),
    song_table_format: [
        (
            prop: (kind: Property(Artist),
                default: (kind: Text("Unknown"))
            ),
            width: "20%",
        ),
        (
            prop: (kind: Property(Title),
                default: (kind: Text("Unknown"))
            ),
            width: "35%",
        ),
        (
            prop: (kind: Property(Album), style: (fg: "{{colors.normal.white}}"),
                default: (kind: Text("Unknown Album"), style: (fg: "{{colors.normal.white}}"))
            ),
            width: "30%",
        ),
        (
            prop: (kind: Property(Duration),
                default: (kind: Text("-"))
            ),
            width: "15%",
            alignment: Right,
        ),
    ],
    header: (
        rows: [
            (
                left: [
                    (kind: Text("["), style: (fg: "{{colors.normal.yellow}}", modifiers: "Bold")),
                    (kind: Property(Status(State)), style: (fg: "{{colors.normal.yellow}}", modifiers: "Bold")),
                    (kind: Text("]"), style: (fg: "{{colors.normal.yellow}}", modifiers: "Bold"))
                ],
                center: [
                    (kind: Property(Song(Title)), style: (modifiers: "Bold"),
                        default: (kind: Text("No Song"), style: (modifiers: "Bold"))
                    )
                ],
                right: [
                    (kind: Property(Widget(Volume)), style: (fg: "{{colors.normal.blue}}"))
                ]
            ),
            (
                left: [
                    (kind: Property(Status(Elapsed))),
                    (kind: Text(" / ")),
                    (kind: Property(Status(Duration))),
                    (kind: Text(" (")),
                    (kind: Property(Status(Bitrate))),
                    (kind: Text(" kbps)"))
                ],
                center: [
                    (kind: Property(Song(Artist)), style: (fg: "{{colors.normal.yellow}}", modifiers: "Bold"),
                        default: (kind: Text("Unknown"), style: (fg: "{{colors.normal.yellow}}", modifiers: "Bold"))
                    ),
                    (kind: Text(" - ")),
                    (kind: Property(Song(Album)),
                        default: (kind: Text("Unknown Album"))
                    )
                ],
                right: [
                    (
                        kind: Property(Widget(States(
                            active_style: (fg: "{{colors.normal.white}}", modifiers: "Bold"),
                            separator_style: (fg: "{{colors.normal.white}}")))
                        ),
                        style: (fg: "{{colors.bright.black}}")
                    ),
                ]
            ),
        ],
    ),
    browser_song_format: [
        (
            kind: Group([
                (kind: Property(Track)),
                (kind: Text(" ")),
            ])
        ),
        (
            kind: Group([
                (kind: Property(Artist)),
                (kind: Text(" - ")),
                (kind: Property(Title)),
            ]),
            default: (kind: Property(Filename))
        ),
    ],
)
