# Give bus access to normal user to allow running ./rpiboot without root
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="0a5c", ATTR{idProduct}=="27[16][134]", TAG+="uaccess"
