font=monospace 12
width=300
height=300
anchor=top-right
padding=15
sort=-priority
border-color={color8}88
max-icon-size=25

on-button-left=dismiss
on-button-middle=invoke-default-action
on-button-right=dismiss-all

default-timeout=10000
background-color={background}{alpha.alpha_hex}

[urgency=low]
text-color={color13}

[urgency=normal]
text-color={color12}

[urgency=critical]
text-color={color9}
