set $background {background}{alpha.alpha_hex}
set $foreground {foreground}

set $color0 {color0}
set $color1 {color1}
set $color2 {color2}
set $color3 {color3}
set $color4 {color4}
set $color5 {color5}
set $color6 {color6}
set $color7 {color7}
set $color8 {color8}
set $color9 {color9}
set $color10 {color10}
set $color11 {color11}
set $color12 {color12}
set $color13 {color13}
set $color14 {color14}
set $color15 {color15}

set $ws1 1:<span foreground="{color9}">1</span>
set $ws2 2:<span foreground="{color10}">2</span>
set $ws3 3:<span foreground="{color11}">3</span>
set $ws4 4:<span foreground="{color12}">4</span>
set $ws5 5:<span foreground="{color13}">5</span>
set $ws6 6:<span foreground="{color15}">6</span>
set $ws7 7:<span foreground="{color8}">7</span>
set $ws8 8:<span foreground="{color11}">8</span>
set $ws9 9:<span foreground="{color14}">9</span>
